{% extends "ALIASUserBundle::layout.html.twig" %}
{% form_theme edit_form 'IPDUVTurnadorBundle:Form:turno.theme.html.twig' %}

{% block fos_user_content -%}
    <h1>Turno edit {{ entity.id }}</h1>

    {{ form(edit_form, {'attr': {'id': 'form'}}) }} 
    	
        <ul class="record_actions">
    <li>
        <a href="{{ path('turno') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}

{% block javascripts1 %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{asset('js/')}}funciones3.js"></script>
{% endblock %}