{% extends "IPDUVTurnadorBundle::layoutturno.html.twig" %}
{% block content -%}
    <div class="ultimo">
        <div class="turno"> <p id='turno'>N°</p> <p id='box'>Box</p> </div>
   </div>
    
   <div class="historial" onclick="click1.playclip()"> 
        Anterior:<br>
    Nº 9 - Box 1    
    </div>
 
<div class="row">
  <div class="col-xs-4" >

    <table class="table table-bordered">
<thead>
<tr>
<th><h1>BOX</h1></th>
<th><H1>TURNO</H1></th>
</tr>
</thead>
<tbody>
<tr>
<th scope="row">1</th>
<td>Mark</td>

</tr>
<tr>
<th scope="row">2</th>
<td>Jacob</td>

</tr>
<tr>
<th scope="row">3</th>
<td>Larry</td>

</tr>
</tbody>
</table>
  </div>
</div>     
   
{% endblock %}

{% block javascripts12 %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{asset('js/')}}turno.js">

// <video autoplay loop >
//         <source src="{{asset('video/')}}medios-de-pagos.mp4" type="video/mp4" />
//     </video>

    </script>


{% endblock %}