{% extends "IPDUVTurnadorBundle::layoutturno.html.twig" %}
{% block content -%}

        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-7">
                    <div class="ultimo">
                        <div class="turno"> N° </div>
                        <div class="box"> Box </div>
                    </div>
                </div> 

                <div class="clima">
                <div class="col-xs-5">
<div id="cont_a2c70c21c1c78566ad7c20dd521930b3"><span id="h_a2c70c21c1c78566ad7c20dd521930b3">El Tiempo <a id="a_a2c70c21c1c78566ad7c20dd521930b3" href="http://www.meteored.com.ar/tiempo-en_Resistencia-America+Sur-Argentina-Chaco-SARE-1-16890.html" target="_blank" rel="nofollow" style="color:#ffffff;font-family:8;font-size: 13px; text-decoration: none;">Resistencia</a></span><script type="text/javascript" async src="http://www.meteored.com.ar/wid_loader/a2c70c21c1c78566ad7c20dd521930b3"></script></div>

                 

                </div>
            </div>   

            </div>    

            <div class="row abajo">
                <div class="col-xs-3 ">
                    <div class="historial" onclick="click1.playclip()">
                            Anterior:<br>
                        Nº - Box -  <br>
                        Nº - Box -  <br>
                        Nº - Box -  <br>
                        Nº - Box -    
                    </div>
                </div>

                <div class="col-xs-3">
                </div>

                <div class="col-xs-6 vid">
                    <video autoplay loop >
                        <source src="{{asset('video/')}}propietario.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>

        </div>

    


    
    
   
    
    
   
{% endblock %}

{% block javascripts1 %}
    {{ parent() }}
    <link href="{{ asset('css/estiloturno.css') }}" rel="stylesheet" type="text/css" /> 
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{asset('js/')}}nuevoturno.js"></script>
   



    </script>


{% endblock %}