<!DOCTYPE HTML>
<html>    
    <head>
        <title>IPDUV - TURNADOR</title>
        {% block stylesheets %}<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />{% endblock %}
    </head>
    <body>

            <div class="row">   
                <div class="col-xs-12"> 
                    {% block content %} {% endblock %} 
                </div>        
            </div>

    {% block javascripts1 %}
        
        <script src="{{asset('js/')}}jquery.js"></script>
        <script src="{{asset('js/')}}bootstrap.min.js"></script>
    {% endblock %}
    </body>
</html>