{% extends "IPDUVTurnadorBundle::layoutnew.html.twig" %}
{% block content -%}

<div class="col-xs-6 ">
    <div class="ultimo">
        <h1 class="turno"> N°: - Box: </h1>
        <h3 class="historial" onclick="click1.playclip()">
            Anterior:<br>
            N°: - Box: <br>
            N°: - Box: <br>
            N°: - Box: <br>
            N°: - Box: 
        </h3>            
   </div>

    <ul class="list-group">
        <li class="list-group-item">  
        <div class="row" >
        
        <div class="col-md-3">
            Tipo Box:
        </div>       
        <form id="frmBoxTipo" method="post"> 
            <div class="col-md-8">
                <select name="tipo-box" id ="tipo-box" class="form-control">
                  {% for tipo_box in tipo_box %}
                  <option value="{{tipo_box.id}}"> {{ tipo_box.descripcion }}</option>

                  {% endfor %}
                </select>
                
            </div> 
    <button type="button" id="btnAumentar" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>Llamar al Siguiente
        </button>
    </form>
    </div>

    <br>

        


    <a href="{{ path('turno') }}"  id="btnTurnero"  class="btn btn-default"><i class="glyphicon glyphicon-share" aria-hidden="true"></i> Abrir Turnero</a>

 

        <button type="button" id="btnResetear" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>Resetear Turnos
        </button>

        <br>


          <a href="" class="btn btn-default"  data-toggle="modal" data-target="#modalEditarTurno"><span class="glyphicon glyphicon-plus"></span> Editar Numeros</a>
            </div>
    
        </li>
    </ul>

</div>


<!-- Modal Fases-->
<div class="modal fade" id="modalEditarTurno" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">ASIGNACION DE TURNOS</h4>
      </div>
        <form id="frmEditarTurno" method="post">
          <input type="hidden" value="1" name="turno_id">
           <div class="modal-body">

      <div id="msjEditarTurno"></div>
        <ul class="list-group">
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                       Numero:
                    </div>
                   <div class="col-md-8">
                        <input type="text" class="form-control" id="numero" name="numero" >
                    </div>
                </div>
            </li>

            <li class="list-group-item"> 
                      <div class="row" >
                         <div class="col-md-2">
                            Tipo Box:
                         </div>       
                      <div class="col-md-8">
                          <select name="tipo-box" id ="tipo-box" class="form-control">
                            {% for tipo_box in tipo_box %}
                            <option value="{{tipo_box.id}}"> {{ tipo_box.descripcion }}</option>

                            {% endfor %}
                          </select>  
                      </div>
                    </div>
                   </li> 

            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Box Nº:
                    </div>
                    <div  class="col-md-8">
                        <select name="numero_box" class="form-control">
                          {% for box in boxs %}
                            <option value="{{box.id}}"> {{ box.numero }}</option>

                          {% endfor %}
                        </select>
                        
                    </div>
                  </div>
              </li>           
        </ul>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Editar</button>
      </div>
        </form>

    </div>
  </div>
</div>

{% endblock %}

{% block javascripts1 %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <link href="{{ asset('css/estilonew.css') }}" rel="stylesheet" type="text/css" /> 
    <script src="{{asset('js/')}}aumentar.js"></script>
{% endblock %}