{% extends "IPDUVTurnadorBundle::layout.html.twig" %}

{% block body -%}
    <h1>Turno</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ entity.numero }}</td>
            </tr>
            <tr>
                <th>Letra</th>
                <td>{{ entity.letra }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('turno') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('turno_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
