{% extends "IPDUVTurnadorBundle::lay.html.twig" %}
{% form_theme edit_form  'IPDUVTurnadorBundle:Form:box.theme.html.twig' %}

{% block content -%}
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('box') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
