{% block ipduv_turnadorbundle_box_widget %}
<hr>
	<h2 class="intro-text text-center">
	    <strong>Encuesta de Conformidad</strong>
	</h2>
<hr>

<div class="row">
	<div class="col-md-1">
		 {{ form_label(form.numero) }}
	</div>
	<div class="col-md-2">
		 {{form_widget(form.numero) }}
	</div>

	<div class="col-md-1">
		 {{ form_label(form.usuario) }}
	</div>
	<div class="col-md-2">
		 {{form_widget(form.usuario) }}
	</div>

	<div class="col-md-1">
		 {{ form_label(form.tipo_box) }}
	</div>
	<div class="col-md-2">
		 {{form_widget(form.tipo_box) }}
	</div>
</div>

<div class="pull-right" >
	{{ form_row(form.submit) }}
</div>
{% endblock %}
				