{% block ipduv_turnadorbundle_cliente_widget %}
<hr>
        <h2 class="intro-text text-center">
            <strong>Datos del Cliente</strong>
        </h2>
    <hr>
<div class="row">

	<div class="col-md-1">
		 {{ form_label(form.nombre) }}
	</div>
	<div class="col-md-2">
		 {{form_widget(form.nombre) }}
	</div>

	<div class="col-md-1">
		 {{ form_label(form.apellido) }}
	</div>
	<div class="col-md-2">
		 {{form_widget(form.apellido) }}
	</div>

	<div class="col-md-1">
		 {{ form_label(form.dni) }}
	</div>
	<div class="col-md-2">
		 {{form_widget(form.dni) }}
	</div>

	<div class="col-md-1">
		 {{ form_label(form.direccion) }}
	</div>
	<div class="col-md-2">
		 {{form_widget(form.direccion) }}
	</div>
</div>

<br>
<div class="row">
	<div class="col-md-1">
		 {{ form_label(form.telefono) }}
	</div>
	<div class="col-md-2">
		 {{form_widget(form.telefono) }}
	</div>

	<div class="col-md-1">
		 {{ form_label(form.correo) }}
	</div>
	<div class="col-md-2">
		 {{form_widget(form.correo) }}
	</div>
</div>

	<div class="pull-right" >
		{{ form_row(form.submit) }}
	</div>
{% endblock %}
				