{% block ipduv_turnadorbundle_consulta_widget %}
    <br>
	<div class="panel panel-default">
   	    <div class="panel-heading">NUEVA CONSULTA</div>
			    <div class="panel-body">
			    
			    		

			  		<div class="row">

			  		<div class="col-md-1">
							 {{ form_label(form.asunto) }}
						</div>
						<div class="col-md-4">
							 {{form_widget(form.asunto) }}
						</div>

			  		<div class='col-md-3'></div>
			        <div class='col-md-1'>
			            {{ form_label(form.fecha) }}
			        </div>
			        <div class='col-md-3'>
			            <div class="form-group">
			                <div class='input-group date' id='datetimepicker1'>
			                    {{ form_widget(form.fecha) }}
			                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
			                    </span>
			                </div>
			            </div>
			        </div>
			    </div>


					<div class="row">
		            	<div class="col-md-1">
							 {{ form_label(form.detalle) }}
						</div>
						<div class="col-md-11">
							 {{form_widget(form.detalle) }}
						</div>
					</div>
				<br>	
					
	   	    </div>
	    </div>
	</div>
	<input type="button" id="boton2" value="AJAX">
	<div class="pull-right" >
		{{ form_row(form.submit) }}
	</div>
{% endblock %}
				