{% block ipduv_turnadorbundle_tipo_box_widget %}
    <br>
	<div class="panel panel-default">
   	    <div class="panel-heading">NUEVO CLIENTE</div>
			    <div class="panel-body">
			  		<div class="row">

		            	<div class="col-md-1">
							 {{ form_label(form.nombre) }}
						</div>
						<div class="col-md-2">
							 {{form_widget(form.nombre) }}
						</div>

						<div class="col-md-1">
							 {{ form_label(form.apellido) }}
						</div>
						<div class="col-md-2">
							 {{form_widget(form.apellido) }}
						</div>

						<div class="col-md-1">
							 {{ form_label(form.dni) }}
						</div>
						<div class="col-md-2">
							 {{form_widget(form.dni) }}
						</div>

						<div class="col-md-1">
							 {{ form_label(form.direccion) }}
						</div>
						<div class="col-md-2">
							 {{form_widget(form.direccion) }}
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-1">
							 {{ form_label(form.telefono) }}
						</div>
						<div class="col-md-2">
							 {{form_widget(form.telefono) }}
						</div>

						<div class="col-md-1">
							 {{ form_label(form.correo) }}
						</div>
						<div class="col-md-2">
							 {{form_widget(form.correo) }}
						</div>

				    </div>
	   	    </div>
    </div>
	    <hr>
		<h2 class="intro-text text-center">
            <strong>Encuesta de Conformidad</strong>
        </h2>
    <hr>

    <input type="button" id="btnVerificar" value="AJAX">
	<div class="pull-right" >
		{{ form_row(form.submit) }}
	</div>
{% endblock %}
				