{% block ipduv_turnadorbundle_turno_widget %}
    <br>
	<div class="panel panel-default">
   	    <div class="panel-heading">NUEVO TURNO</div>
			    <div class="panel-body">
			  		<div class="row">

				  		<div class="col-md-1">
								 {{ form_label(form.letra) }}
							</div>
							<div class="col-md-2">
								 {{form_widget(form.letra) }}
							</div>
			   			
				   			<div class="col-md-1">
								 {{ form_label(form.numero) }}
							</div>
							<div class="col-md-2">
								 {{form_widget(form.numero) }}
							</div>

							<div class="col-md-1">
								 {{ form_label(form.area) }}
							</div>
							<div class="col-md-2">
								 {{form_widget(form.area) }}
						</div>
			    	</div>
		        </div>
   	    </div>

    <input type="button" id="boton2" value="AJAX">
	<div class="pull-right" >
		{{ form_row(form.submit) }}
	</div>
{% endblock %}
				