{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %} REGISTRARSE {% endblock %}

{% block fos_user_content %}
<div class="panel panel-default" style="margin-right:30px; margin-left:30px; margin-bottom:5px; margin-top:5px;">
    <!-- Default panel contents -->
    <div class="panel-heading" style="height:40px">
      <div class="pull-left"><i class="glyphicon glyphicon-list-alt"></i> Registrar</div>
    </div>

    <div class="panel-body">

		{% include "FOSUserBundle:Registration:register_content.html.twig" %}

	</div>
</div>
{% endblock fos_user_content %}

{% block javascripts1 %}
 	{{ parent() }}
 	
<script type="text/javascript">
$('form').on('submit',function(){
   if($('#fos_user_registration_form_plainPassword_first').val()!=$('#fos_user_registration_form_plainPassword_second').val()){
       alert('Las claves no coinciden');
       return false;
   }
   return true;
});
</script>

{% endblock %}