{% extends "ALIASUserBundle::layout.html.twig" %}

{% block title %} Iniciar Sesión {% endblock %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}



  <div class="panel panel-default" style="margin-right:30px; margin-left:30px; margin-bottom:5px; margin-top:5px;">
    <!-- Default panel contents -->
    <div class="panel-heading" style="height:40px">
      <div class="pull-left"><i class="glyphicon glyphicon-list-alt"></i> Iniciar Sesión</div>
    </div>

    <div class="panel-body">

        {% if error %}
          <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
        {% endif %}
        <form action="{{ path("fos_user_security_check") }}" method="post">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

          <div id="loginform" class="form-horizontal">

            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> 
              <input type="text" class="form-control" placeholder="Usuario" 
              id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>

            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="password" class="form-control" placeholder="Clave" 
              id="password" name="_password" required="required" />
            </div>

            <div class="checkbox">
             <label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> Recordarme
              </label>
            </div><br>
            
            <div class="pull-right" >
              <button class="btn btn-default" type="submit" id="_submit" name="_submit" value="INGRESAR"> Iniciar sesión</button>
            </div>

          </div>
      </form>

    </div>
  </div>
{% endblock fos_user_content %}