{% block fos_user_change_password_widget %}
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">PERFIL DE USUARIO</h3>
    </div>
    <div class="panel-body">
      <div class="row">

        <div class=" col-md-12 col-lg-12 "> 
          <table class="table table-user-information">
            <tbody>
              <tr>
                <td>Password Actual:</td>
                <td>{{ form_widget(form.current_password, { 'attr': {'class': 'form-control', 'placeholder':'Password Actual'}}) }}</td>
              </tr>

              <tr>
                <td>Nueva Password:</td>
                <td>{{ form_widget(form.new.first, { 'attr': {'class': 'form-control'}}) }}</td>
              </tr>
              <tr>
                <td>Confirmar Nueva Password:</td>
                <td>{{ form_widget(form.new.second, { 'attr': {'class': 'form-control'}}) }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <a  href="{{ path('fos_user_profile_show') }}" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-arrow-left"></i> Volver</a>
      <span class="pull-right">
        <button  type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
      </span>
    </div>

  </div>
</div>

{{ form_widget(form._token) }}

{% endblock %}