{% block fos_user_profile_widget %}

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">PERFIL DE USUARIO</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class=" col-md-12 col-lg-12 "> 
          <table class="table table-user-information">
            <tbody>
              <tr>
                <td>Nombre de Usuario:</td>
                <td>{{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder':'Username'}}) }}</td>
              </tr>
              <tr>
                <td>Email:</td>
                <td>{{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder':'Email'}}) }}</td>
              </tr>
              <tr>
                <td>Password:</td>
                <td>{{ form_widget(form.current_password, { 'attr': {'class': 'form-control', 'placeholder':'Password'}}) }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel-footer">
     <div class="row">
      <div class="col-md-12">
        <a class="btn btn-info" href="{{ path('fos_user_profile_show') }}"><i class="glyphicon glyphicon-arrow-left"></i> Volver</a>
       <span class="pull-right">
        <a  href="{{ path('fos_user_change_password') }}" class="btn btn-warning"><i class="glyphicon glyphicon-random"></i> Cambiar Password</a>
        <button  type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i> Guardar</button>
      </span>
    </div>
  </div>


</div>

</div>
</div>

{{ form_widget(form._token) }}

{% endblock %}