{% block fos_user_group_widget %}
<div style="margin-bottom: 25px" class="input-group">
	<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> 
	{{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder':'Username'}}) }}
</div>
<div style="margin-bottom: 25px" class="input-group">
	<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> 
	{{ form_widget(form.ruta, { 'attr': {'class': 'form-control', 'placeholder':'Url de la Aplicación'}}) }}
</div>
<div style="margin-bottom: 15px" class="input-group">
	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
	{{ form_widget(form.roles, { 'attr': {'class': 'form-control', 'placeholder':'Email'}}) }}
</div>

{% endblock %}