{% block fos_user_registration_widget %}
<div style="margin-bottom: 15px" class="input-group">
	<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> 
	{{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder':'Usuario'}}) }}
</div>
<div style="margin-bottom: 15px" class="input-group">
	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
	{{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder':'Email'}}) }}
</div>
<div style="margin-bottom: 15px" class="input-group">
	<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
	{{ form_widget(form.plainPassword.first , { 'attr': {'class': 'form-control', 'placeholder':'Clave'}}) }}
</div>
<div style="margin-bottom: 15px" class="input-group">
	{#{ form_label(form.plainPassword.second) }#}
	<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
	{{ form_widget(form.plainPassword.second , { 'attr': {'class': 'form-control', 'placeholder':'Repita la clave'}}) }}
</div>
	{{ form_widget(form._token) }}
{% endblock %}


