<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IPDUV - Sistema de Turnos</title>

    <!-- Bootstrap Core CSS -->
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/business-casual.css') }}" rel="stylesheet" type="text/css" />
    {% endblock %}
    

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
</head>
<br><br>
<div class="container">
    <div class="row">
        <div class="box">

            {% if app.user  != '' %}
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> 
                    <span class="glyphicon glyphicon-user"> </span>
                    {{ app.user }}
                    <span class="caret"> </span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('fos_user_registration_register') }}"><i class="glyphicon glyphicon-plus"></i>   Registrar usuario</a></li>
                     <li><a href="{{ path('fos_user_security_logout') }}"><i class="glyphicon glyphicon-off"></i>   Salir</a></li>
                    
                </ul>
            </div>
            {% endif %}
            
            <div class="col-lg-12">
                 {% block content %} {% endblock %}
            </div>    
        </div>
    </div>
</div>
<br>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Copyright &copy; IPDUV 2016</p>
            </div>
        </div>
    </div>
</footer>

    {% block javascripts1 %}
        <script src="{{asset('js/')}}jquery.js"></script>
        <script src="{{asset('js/')}}bootstrap.min.js"></script>
    {% endblock %}
</body>

</html>
