<!DOCTYPE HTML>
<html>    
    <head>
        <title>IPDUV - TURNADOR</title>
        {% block stylesheets %}<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />{% endblock %}
    </head>
    <body>
    {% if app.user  != '' %}
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> 
                    <span class="glyphicon glyphicon-user"> </span>
                    {{ app.user }}
                    <span class="caret"> </span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('fos_user_registration_register') }}"><i class="glyphicon glyphicon-plus"></i>   Registrar usuario</a></li>
                    <li><a href="{{ path('turno_new') }}"><i class="glyphicon glyphicon-th-list"></i> Ir al llamador</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="glyphicon glyphicon-off"></i>   Salir</a></li>
                    
                </ul>
            </div>
            {% endif %}
            
    <div class="container">
            <div class="row">   
                <div class="col-xs-12"> 
                    {% block content %} {% endblock %} 
                </div>        
            </div>
    </div>
    {% block javascripts1 %}
        
        <script src="{{asset('js/')}}jquery.js"></script>
        <script src="{{asset('js/')}}bootstrap.min.js"></script>
    {% endblock %}
    </body>
</html>