{% extends "IPDUVTurnadorBundle::layout.html.twig" %}
{% form_theme form 'IPDUVTurnadorBundle:Form:consulta.theme.html.twig' %}

{% block body -%}
    <h1>Consulta edit</h1>

    {{ form(edit_form, {'attr': {'id': 'form'}}) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('consulta') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
