body {
    background:url(../img/1.png);
    background-position:bottom;
    background-attachment:fixed;
    background-size:cover;
    overflow-y: scroll;

}

.margen {margin:20px;}

.pad20 {padding:20px;}	

.pad5 {padding:20px;}	

div.centrado {
    text-align:center;
    font-size: 20px;
} 

.radio {
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
} 


/*----------COLORES ---------------*/
.blanco { background:#fff;}


.login {
    background:url(../img/fondo-blanco.png);
    padding:10px 30px;
    margin-left:6%;

}

.contenedor {
    background:url(../img/fondo-blanco.png);
    padding:10px 30px;
    margin-top:3%;
}