
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}


body {
/*  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
*/  color: #333;
/*  background-color: #181C5F;*/
    background:url(../img/bg.jpg);
/*  text-align: center;*/
/*top: 50px;*/
left: 50px;

right: 50px;
position: absolute;

margin: 0 auto;


/*NUEVO*/
-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;


}

.list-group{
text-align: center;
}
.ultimo {
  color: #fff;
/*  font-size: 190px;
  letter-spacing: -7px;
  font-weight: 600;*/
}


.clima {
padding-top: 100px;
padding-left:  40%;
}

.turno {
  /*position: absolute;
  top: 50px;
  left: 100px;*/
}

.box {
  /*position: absolute;
  top: 50px;
  left: 600px;*/
}

.historial1 {

background: #f2f2f2;
    background: rgba(255,255,255,0.2);

  color: #B6B3B3;
  padding: 15px;
  font-size: 60px;
  font-weight: 700;
/*  position: absolute;
  left: 50px;
  bottom: 50px;
  height: 337px;
  padding: 30px;*/
  /*background: #0E1142;*/
  bottom: 50px;
}

video {  
/*  position: absolute;
 */ /*bottom: 50px; */
  /*right: 50px;*/
  /*width: 80%;
  */
/*  right: 10px;
  */
  left: 40px;
  
  width: 65%; 
/*  height: 0%;*/
}

.abajo {
  position: fixed;
  bottom: 50px;
  width:100%;
}