{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %} EDITAR PERFIL {% endblock %}
{% block fos_user_content %}
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock fos_user_content %}