	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">DATOS DE PERFIL</h3>
					</div>
					<div class="panel-body">
						<div class="row">

							<div class=" col-md-12 col-lg-12 "> 
								<table class="table table-user-information">
									<tbody>
										<tr>
											<td>Nombre de Usuario:</td>
											<td>{{ user.username }}</td>
										</tr>


										<tr>
											<td>Email:</td>
											<td>{{ user.email }}</td>
										</tr>
										<tr>
											<td>Grupos:</td>
											<td>
												<ul>
													{% for gro in user.groups %}
													<li>
														
														{{ gro.name }}
														
													</li>
													{% endfor %}
												</ul>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-12">
								<span class="pull-right">
									<a  href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i> Editar</a>

								</span>
							</div>
						</div>
						
					</div>

				</div>
			</div>
		</div>
	</div>