{% extends "IPDUVTurnadorBundle::lay.html.twig" %}
{% form_theme edit_form 'IPDUVTurnadorBundle:Form:cliente.theme.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/bootstrap-datetimepicker.css')}}" rel="stylesheet">
<link href="{{ asset('css/jquery.dataTables.css')}}" rel="stylesheet">
{% endblock %}

{% block content -%}
    {{ form(edit_form, {'attr': {'id': 'form'}}) }}
          <input type="hidden" value="{{entity.id}}" name="cliente_id1" id="cliente_id1"/>

    <br>
<hr>
<h2 class="intro-text text-center">
    <strong>Consultas</strong>
</h2>
<hr>

    <a href="" class="btn btn-default"  data-toggle="modal" data-target="#modalAgregarConsulta"><span class="glyphicon glyphicon-plus"></span> NUEVA CONSULTA </a>

        <div class="row">

            <br>
            <br>
            <div class="col-md-12">

                <table id="table_id"  class="display" cellspacing="0" width="100%" >
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Fecha</th>
                            <th>Asunto</th>
                            <th>Detalle</th>
                            <th>Editar</th>     
                            <th>Baja</th>                         
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>

<!-- Modal Fases-->
<div class="modal fade" id="modalAgregarConsulta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nueva Consulta</h4>
      </div>
        <form id="frmNuevoBeneficiario" method="post">
          <input type="hidden" value="{{entity.id}}" name="cliente_id" id="cliente_id">
           <div class="modal-body">
      <div id="msjAgregarConsulta"></div>
        <ul class="list-group">
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                       Descripción:
                    </div>
                    <div class="col-md-10">
                         <textarea id="descrip-fase" name="descrip-fase" class="form-control"></textarea>
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Fase:
                    </div>
                    <div  class="col-md-10">
                        <select name="tipo-fase" class="form-control">
                     
                        </select>
                        
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                       Usuario:
                    </div>
                    <div class="col-md-10">
                       <select name="usuario-fase" class="form-control">
                 
                        </select>
                    </div>
                </div>
            </li>
            
           
        </ul>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Agregar</button>
      </div>
        </form>

    </div>
  </div>
</div>


{% endblock %}

{% block javascripts1 %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{asset('js/')}}cliente.js"></script>

    <script src="{{asset('js/')}}moment.js"></script>
    <script src="{{asset('js/')}}bootstrap-datetimepicker.js"></script>
    <script src="{{asset('js/')}}bootstrap-datetimepicker.ru.js"></script>

    <script type="text/javascript" charset="utf8" src="{{ asset('js/') }}jquery.dataTables.js"></script>  

    <script src="{{asset('js/')}}consultas.js"></script>

{% endblock %}












{% block javascripts22221 %}

       <ul class="record_actions">
    <li>
        <a href="{{ path('cliente') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>

{% endblock %}