{% extends "IPDUVTurnadorBundle::lay.html.twig" %}
{% form_theme form 'IPDUVTurnadorBundle:Form:cliente.theme.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/bootstrap-datetimepicker.css')}}" rel="stylesheet">
<link href="{{ asset('css/jquery.dataTables.css')}}" rel="stylesheet">
{% endblock %}

{% block content -%}

    {{ form(form, {'attr': {'id': 'form'}}) }}

<br>
<hr>
<h2 class="intro-text text-center">
    <strong>Consultas</strong>
</h2>
<hr>


<a href="" class="btn btn-default"  data-toggle="modal" data-target="#modalAgregarFase"><span class="glyphicon glyphicon-plus"></span> NUEVA CONSULTA </a>
<br><br>
<table id="table_id"  class="display" cellspacing="0" width="100%" >
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Asunto</th>
                <th>Detalle</th>
                <th>Mas info</th>
                <th>Editar</th>
            </tr>
        </thead>
    <tbody>
        {% for entity in entity.consultas %}
            <tr>
                <td>{{entity.fecha}}</td>                       
                <td>{{entity.asunto}}</td>                             
                <td>{{entity.detalle}}</td>   
                <td><a class="btn btn-primary" href="{{ path('consulta_show', { 'id': entity.id }) }}"> <span class="glyphicon glyphicon-home"></span> </td>
                 <td><a class="btn btn-primary" href="{{ path('consulta_edit', { 'id': entity.id }) }}"> <span class="glyphicon glyphicon-pencil"></td>

            </tr>
        {% endfor %}
    </tbody>
</table>


<!-- Modal Fases-->
<div class="modal fade" id="modalAgregarFase" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">ASIGNACION DE FASE</h4>
      </div>
        <form id="nuevaFase" method="post">
          <input type="hidden" value="{{entity.id}}" name="terreno_id">
          <input type="hidden" value="{{ entity.id }}" name="expediente_id" >
           <div class="modal-body">
      <div id="msjAgregarFase"></div>
        <ul class="list-group">
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                       Descripción:
                    </div>
                    <div class="col-md-10">
                         <textarea id="descrip-fase" name="descrip-fase" class="form-control"></textarea>
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                        Fase:
                    </div>
                    <div  class="col-md-10">
                        <select name="tipo-fase" class="form-control">
                     
                        </select>
                        
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row" >
                    <div class="col-md-2">
                       Usuario:
                    </div>
                    <div class="col-md-10">
                       <select name="usuario-fase" class="form-control">
                 
                        </select>
                    </div>
                </div>
            </li>
            
           
        </ul>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Agregar</button>
      </div>
        </form>

    </div>
  </div>
</div>

{% endblock %}


{% block javascripts1 %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{asset('js/')}}cliente.js"></script>

    <script src="{{asset('js/')}}moment.js"></script>
    <script src="{{asset('js/')}}bootstrap-datetimepicker.js"></script>
    <script src="{{asset('js/')}}bootstrap-datetimepicker.ru.js"></script>

    <script type="text/javascript" charset="utf8" src="{{ asset('js/') }}jquery.dataTables.js"></script>  

    <script type="text/javascript">
    $(document).ready( function () {
    //$('#table_id').DataTable();
    var elemento = $('#table_id thead th');
    var cont = elemento.length - 2;
    elemento.each( function () {
      //  debugger;
        var title = $('#table_id thead th').eq( $(this).index() ).text();
        $(this).html( '<input type="text" placeholder="'+title+'" />' );

        cont = cont-1;
        if (cont == 0)
        {
            return false;
        }
    } );
    
    // DataTable
    var table = $('#table_id').DataTable({
         "order": [[ 0, "asc" ]],
         "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"},
          "columnDefs": [
            { "visible": true,  "targets": [ 0 ] },
        ], 
    });
 
    // Apply the search
    table.columns().eq( 0 ).each( function ( colIdx ) {
        //debugger;
        $( 'input', table.column( colIdx ).header() ).on( 'keyup change', function () {
            table
                .column( colIdx )
                .search( this.value )
                .draw();
        } );
    } );
} );  

    function listarFases(){
    var id = $("#cliente_id").val();
   
   var table = $('#table_fases').DataTable({
        "ajax" : Routing.generate('traer_fases', { id: id }),
         "order": [[ 0, "desc" ]],
         "language": {
         "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"},
          "columns": [
                { "data": "Id", "visible": false},
                { "data": "Fecha", "visible": true},
                { "data": "Descripcion" , "visible": true},
                { "data": "Usuario" , "visible": true},
                { "data": "Tipo" , "visible": true},
        ], 

    });
}
</script>


{% endblock %}