<!DOCTYPE HTML>
<html>    
    <head>
        <title>IPDUV - Cancelacion viviendas</title>
        <link href="{{ asset('css/estilo.css') }}" rel="stylesheet" type="text/css" />
        {% block stylesheets %}<link href="{{asset('bundles/bootstrap/css/')}}bootstrap.min.css" rel="stylesheet">{% endblock %}
    </head>
    <body>
        <div class="col-sm-4 login radio">
            <div class="row">
                <div class="col-md-12 blanco pad20 radio">
                    <p><img src="{{ asset('img/logo-ipduv.png') }}" width="300" height="65"  alt="0" /></p>
                    
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">{% block title %} {% endblock %}</div>
                            <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Olvidaste la contraseña?</a></div>
                        </div>  
                        <div style="padding-top:30px" class="panel-body">
                            
                            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            <div id="loginform" class="form-horizontal">  
                              {% block content %}
                              {{block ('fos_user_content') }}
                              {% endblock %}
                              {% block foot %} {% endblock %}                                       
                            </div>     
                        </div>                     
                    </div>
                </div>
            </div>
        </div>
    {% block javascripts1 %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{asset('bundles/bootstrap/js/')}}bootstrap.min.js"></script>
    {% endblock %}              
    </body>
</html>