<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Encuestas - CGC</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />

    <link href="{{ asset('css/business-casual.css') }}" rel="stylesheet" type="text/css" />

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="brand">Turnador - IPDUV</div>
    <div class="address-bar">Conformidad | Satisfaccion | Mejor atencion</div>
    
        <div class="row" style="width: 600px; margin: 0 auto;">
            <div class="col-md-12"> 
                <div class="box">
                         {% block fos_user_content %}{% endblock %}
                </div>    
            </div>
        </div>

    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; IPDUV 2016</p>
                </div>
            </div>
        </div>
    </footer>

    {% block javascripts1 %}
        <script src="{{asset('js/')}}jquery.js"></script>
        <script src="{{asset('js/')}}bootstrap.min.js"></script>
    {% endblock %}
</body>

</html>
