<div class="panel panel-primary">
	<!-- Default panel contents -->
	<div class="panel-heading" style="height:50px">
		<div class="pull-left"><i class="glyphicon glyphicon-list-alt"></i> EDITAR GRUPO</div>
		<!--div class="pull-right"><a href="{{ path('fos_user_group_new') }}" type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> CREAR</a></div-->   
	</div>
	<div class="panel-body">
		<div class="panel-body">
			<form action="{{ path('fos_user_group_edit', {'groupname': groupname} ) }}" {{ form_enctype(form) }} method="POST" class="fos_user_group_edit">
				{% form_theme form 'FOSUserBundle:Theme:group_edit.theme.html.twig' %}
				{{ form_widget(form) }}
				<div>
					<a href="{{ path('fos_user_group_list') }}" class="btn btn-default" value="{{ 'CANCELAR'|trans([], 'FOSUserBundle') }}">CANCELAR</a>
					<input type="submit" class="btn btn-success" value="{{ 'GUARDAR'|trans([], 'FOSUserBundle') }}" />
				</div>
			</form>
		</div>
	</div>
</div>