{% for flashMessage in app.session.flashBag.get('message') %}
    <div  class="alert alert-success" role="alert">
        {{ flashMessage }}
    </div>
{% endfor %}

<div class="panel panel-primary">
  <!-- Default panel contents -->
<div class="panel-heading" style="height:50px">
    <div class="pull-left"><i class="glyphicon glyphicon-list-alt"></i> GRUPOS</div>
    <div class="pull-right"><a href="{{ path('fos_user_group_new') }}" type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> CREAR</a></div>   
</div>
  <div class="panel-body">
  <div class="panel-body">
    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>GRUPO</th>
                <th>ROLE</th>
                <th>Editar</th>
                <th>Mas info</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups  %}
            <tr>
                <td>
                    {{ group.id }}
                </td>
                <td>
                    {{ group.name }}
                </td>
                <td>
                    
                    {% for role in group.roles %}
                        {{ role }}
                    {% endfor %}
                </td>
                
                <td><a href="{{ path('fos_user_group_edit',{ 'groupname':group.name }) }}" class="btn btn-primary"> <span class="glyphicon glyphicon-pencil"></span>  </a> </td>
                <td><a href="{{ path('fos_user_group_show',{ 'groupname':group.name }) }}" class="btn btn-small btn-success"><i class="glyphicon glyphicon-list-alt"></i> </a></td>
                
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
</div>