{% extends "FOSUserBundle::layout.html.twig" %}
{% block stylesheets %}
{{ parent() }}
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="{{ asset('web/bundles/seguridad/css/jquery.dataTables.css') }}">
{% endblock %}
{% block content -%}

{% include "FOSUserBundle:Group:list_content.html.twig" %}

{% endblock %}
{% block javascripts1 %}
    {{ parent() }}
    
   <!-- jQuery -->
<script type="text/javascript" charset="utf8" src="{{ asset('web/bundles/seguridad/js/jquery-1.10.2.min.js') }}"></script>
  
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="{{ asset('web/bundles/seguridad/js/jquery.dataTables.js') }}"></script>  

<script type="text/javascript">
$(document).ready( function () {
    $('#table_id').DataTable( {
        "order": [[ 1, "asc" ]],
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"},
    });
} );  
</script>
     
{% endblock %}