<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
	{% form_theme form 'FOSUserBundle:Theme:change_password.theme.html.twig' %}
    {{ form_widget(form) }}
    
</form>