
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">RESET PASSWORD</h3>
      </div>
      <div class="panel-body">
          <div class="row">
            <div class=" col-md-12 col-lg-12 "> 

              <table class="table table-user-information">
                <tbody>

                    {% if invalid_username is defined %}
                    <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
                    {% endif %}
                    <tr>
                        <td><label for="username">Nombre de Usuario:</label></td>
                        <td> <input type="text" id="username" name="username" required="required" class="form-control" /></td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>
<div class="panel-footer">
 <div class="row">
  <div class="col-md-12">
    <a class="btn btn-info" href="{{ path('user') }}"><i class="glyphicon glyphicon-arrow-left"></i> Volver</a>
    <span class="pull-right">

      <button  type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-random"></i> Cambiar</button>
 </span>
</div>
</div>


</div>

</div>
</form>
</div>